body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('images/sketch2.jpg');
    background-size: cover;
}

#container {
    width: 75vh;
    max-width: 75vh;
    max-height: 75vh;
    height: 75vh;
    display: grid;
    grid-gap: 0px;
    margin-bottom: 10vh;
}

#inputContainer {
    background-color: white;
    height: 10vh;
    width: 25vh;
    margin-right: 10px;
}
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10vh;
    width: 25vh;
    margin-left: 10px;
}

p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.gridbox {
    border: 1px solid black;
    background-color: white;
}